version: '1.0'
route: chiaretto2.apps.ocp4kvm.chiaret.to
env: default
mongodb:
  name: mongodb
  image:
    debug: true
  initdbScripts:
    initdb.sh: |
      #!/bin/bash
      sleep 3600
      mongo -u $MONGODB_USERNAME -p $MONGODB_PASSWORD --eval 'db.initdb.insert({"init": "true"})' $MONGODB_DATABASE
  persistence:
    enabled: true
    existingClaim: mongo
  auth:
    enabled: true
    username: webrisapp
    database: webris
    existingSecret: mongodb-secret
  containerSecurityContext:
    enabled: true
    runAsUser: 1000580000
    runAsNonRoot: true
  podSecurityContext:
    enabled: false
    fsGroup: ''
  metrics:
    enabled: true
    serviceMonitor:
      enabled: false

